{% extends 'quizApp/base.html' %}


{% block title %}
    User Dashboard
{% endblock  %}

{% block content %}
    <div class="text-center">
        <h2 class="fst-italic fw-light text-primary">Welcome {{ profile.user }}</h2>
        
        <h1 class="display-4">Your Dashboard</h1>
    </div>
    <div class="container text-center d-grid gap-2 col-7 mx-auto">
        <div class="row justify-content-center">
            <div class="col-4">
                <a href="{% url 'quiz_list' %}" class="btn btn-info"
                 >Go to Quiz</a
                >
            </div>
            <div class="col-4">
                <a href="{% url 'logout' %}" class="btn btn-danger position-relative start-10"
                >Logout</a
                >
            </div>
            <div class="col-4">
               
                <button class="btn btn-dark text-light btn-outline-success" type="button" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal"
                >Scores</button>
                <div class="modal fade" id="exampleModal" 
                aria-labelledby="exampleModalLabel" 
                aria-hidden="true"
                >
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Your Scores</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-dark table-hover table-striped-columns">
                                    
                                    {% for score in scores %}
                                        <tr>
                                            <td>#</td>
                                            <td>
                                                Quiz: {{ score.quiz_name }} 
                                            </td>
                                            <td>
                                                Score: {{ score.score }}
                                            </td>
                                        </tr>
                                            
                                           
                                    {% endfor %}
                                
                                </table>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'reset_data' %}" class="btn btn-secondary" role="button">Reset</a>
                                <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>
    
    
    
{% endblock  %}
        