{% extends 'quizApp/base.html' %}


{% block title %}
    User Dashboard
{% endblock  %}

{% block content %}
    <div class="container text-center d-grid gap-2 col-7 mx-auto">
        <div class="row justify-content-center">
            <!-- Profile Picture Section -->
             <div class="col-12 mb-4 position-relative start-80">
                <div class="profile-pic-container ">
                    <!-- Profile Picture -->
                    {% if profile.profile_picture %}
                        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle" width="100" height="100"
                        data-bs-toggle="modal" data-bs-target="#profilePictureModal"
                        >
                    {% else %}
                        <img src="https://via.placeholder.com/150" alt="Profile Picture" class="img-fluid rounded-circle" width="150" height="150"
                        data-bs-toggle="modal" data-bs-target="#profilePictureModal"
                        >
                    {% endif %}
                    <!-- Tooltip while hovering -->
                </div>
            </div>
            <div class="text-center">
                <h2 class="fst-italic fw-light text-primary">Welcome {{ profile.user }}</h2>
        
                <h1 class="display-4">Your Dashboard</h1>
            </div>
            <div class="col-4">
                <a href="{% url 'quiz_list' %}" class="btn btn-info"
                 >Go to Quiz</a
                >
            </div>
            <div class="col-4">
                <a href="{% url 'logout' %}" class="btn btn-danger position-relative start-10"
                >Logout</a
                >
            </div>
            <div class="col-4">
               
                <button class="btn btn-dark text-light btn-outline-success" type="button" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal"
                >Scores</button>
                <div class="modal fade" id="exampleModal" 
                aria-labelledby="exampleModalLabel" 
                aria-hidden="true"
                >
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Your Scores</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                {% if scores %}
                                    <table class="table table-dark table-hover table-striped-columns">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Quiz</th>
                                                <th>Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for score in scores %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ score.quiz.name }}</td>
                                                    <td>{{ score.score }} / {{ score.quiz.questions.count }}</td>
                                                </tr>
                                            
                                           
                                            {% endfor %}

                                        </tbody>
                                    
                                    
                                
                                    </table>
                                {% else %}
                                    <p>You haven't completed any quizzes yet. Go ahead and start one!</p>
                                    
                                {% endif %}
                                    
                                
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'reset_data' %}" class="btn btn-secondary" role="button">Reset</a>
                                <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>
    <div>
        {% if not has_taken_quizzes %}
                <div class="alert alert-warning mt-4">
                    <strong>Heads up!</strong> You haven't taken any quizzes yet. <a href="{% url 'quiz_list' %}" class="alert-link">Take a quiz now!</a>
                </div>
            {% endif %}
    </div>
    
    
    
{% endblock  %}
        