{% extends 'quizApp/base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}


{% block content %}
    
    <div class="jumbotron text-center ">
        <h1 class="display-4 ">Welcome to the Quiz app</h1>
        <p class="fst-italic text-primary">Test your knowledge on variety of questions and compare your score at the end of each quiz</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Demo
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">A Demo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{% static 'quizApp/images.png' %}" class="rounded img-fluid" alt="walking to destiny">
                        <!-- <img src="{% static 'quizApp/images.png' %}" class="rounded img-fluid" alt="walking to destiny"> -->
                        <!-- <img src="{% static 'quizApp/images.png' %}" class="rounded img-fluid" alt="walking to destiny"> -->
                        <!-- <img src="{% static 'quizApp/images.png' %}" class="rounded img-fluid" alt="walking to destiny"> -->
                        <img src="{% static 'quizApp/images.png' %}" class="rounded img-fluid" alt="walking to destiny">
                        <p>Demonstrating the quiz App</p>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}