{% extends 'quizApp/base.html' %}

{% block title %}
    The Quiz List Page
{% endblock  %}

{% block content %}
    <div>
        <h1 class="display-4 p-2 text-center">Available Quizzes</h1>
        <ul>
            {% for quiz in quizzes %}
                <p>
                    <div >
                        <!-- Corrected URL reference to use quiz.id -->
                        <a href="{% url 'start_quiz' quiz.id %}" class="btn btn-secondary" role="button">{{ quiz.name }}</a>
                    </div>
                </p>
            {% endfor %}
        </ul>
    </div>
{% endblock  %}
