{% extends 'quizApp/base.html' %}

{% block title %}
    {{ quiz.name }} Quiz
{% endblock  %}

{% block content %}
    <h1 class="display-4 text-center">{{ quiz.name }}</h1>
    <p>{{ quiz.description }}</p>
    <h2>Questions:</h2>
    <form method="post" class="jumbotron ">
        {% csrf_token %}
        
        {% for question in questions %}
            <fieldset>
                <legend>
                    <h3>{{ question.question }}</h3>
                </legend>
                <ul class="list-group">
                    
                    {% for choice in question.all_questions.all %}
                        <li class="list-group-item">
                            <label for="choices" class="form-check-label">
                                <input class="form-check-input me-1 " type="radio" name="question_{{ question.question_num }}" value="{{ choice.id }}">
                                {{ choice.answer_to_question }}
                            </label>
                        </li>
                    {% endfor %}
                        
                </ul>
            </fieldset>
        {% endfor %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
            <button class="btn btn-dark text-light btn-outline-success" type="submit">submit</button>
        </div>
    </form>
    
        
{% endblock  %}
    