{% extends 'quizApp/base.html' %}

{% block title %}
    {{ quiz.name }} Quiz
{% endblock  %}

{% block content %}
    <h1 class="display-4 text-center">{{ quiz.name }}</h1>
    <p>{{ quiz.description }}</p>
    <h2>Questions:</h2>
    <ul>
        {% for question in questions %}
            <li><strong>{{ question.question }}</strong>
                <ul>
                    
                    {% for choice in question.all_questions.all %}
                    <li>
                        {{ choice.choice }}  {{ choice.answer_to_question }}
                    </li>
                        
                    {% endfor %}
                        
                </ul>
            </li>
        {% endfor %}
    </ul>
    
        
{% endblock  %}
    