{% extends 'quizApp/base.html' %}

{% block title %}
    Submit
{% endblock  %}

{% block content %}
    
    <style>
        .result-card {
            max-width: 400px;
            margin: auto;
        }

        .result-card .card-body {
            padding: 1.5rem;
        }
        
        .questions {
            user-select: none;
        }
    </style>

    <div class="container my-5">

        <div class="result-card">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h5>Quiz Result Summary</h5>
                </div>
                <div class="card-body fst-italic text-center">
                    <p><strong>Name:</strong> {{ score.user.username }}</p>
                    <hr>
                    <p><strong>Quiz:</strong> {{ score.quiz.name }}</p>
                    <p><strong>Total Questions:</strong> {{ total_questions }}</p>
                    <p><strong>Total Correct Answers:</strong> {{ correct_answers }}</p>
                    <p><strong>Total Incorrect Answers:</strong> {{ incorrect_answers }}</p>
                    <p><strong>Submitted at:</strong> {{ score.date_recorded|timesince }} ago</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a>
                    <a href="{% url 'quiz_page' score.quiz.id %}" class="btn btn-primary">Retake</a>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
